.pdf-view-container {
    flex: 1;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    /* height: auto; */
    margin: 4px 0;
    background-color: var(--background);
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    /* justify-content: center; */
}

.pdf-header {
    background-color: var(--background-secondary);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px;
    
    position:fixed;
    top: 10px;
    width: 700px;
    padding: 20px;
    margin-right: 17px;

    z-index: 1000;
    opacity: 0;
    transition: opacity 0.2s;
}
.pdf-header h1 {
    font-size: inherit;
    margin: 0;
}
.pdf-header:hover {
    opacity: 0.9;
}

.pdf-virtual-scroll-container {
    user-select: text;

    position: relative;
    display: flex;
    align-items: center;

    height: 100%;

    /* top: -64px; */
}
.pdf-virtual-scroll-container .react-pdf__Document {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pdf-virtual-scroll-container .react-pdf__Page {
    margin: 1em 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.pdf-virtual-scroll-container .react-pdf__message {
    padding: 20px;
    color: white;
}